//---BaseVeriables-------------------------
$maxWidth: 1280; //Ширина контейнера: контент
$sideIndent: 20; //Боковой отступ (кол-во px с одной стороны)
$maxWidthContainer: #{maxWidth + $sideIndent * 2}; //Ширина контейнера: контент + боковые отступы

$tablet: 992px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 768px; // Телефоны L
$mobileSmall: 480px; // Телефоны S
//------------------------------------------

//---CustomVeriables---------------------

$orange: #f38e13;